![Banner](../images/banner.png)

## [[DSC-2023](https://comp.ita.br/dsc/edicoes/2023/)] Develop accurate models that can improve Estimated Landing Time (ELDT) predictability and contribute to more efficient and safe air transport.

### Authors: [João Dantas](https://www.linkedin.com/in/jpdantas/), [Lucas Lima](https://www.linkedin.com/in/lucaslima25/) and [Samara Ribeiro](https://www.linkedin.com/in/samara-ribeiro-silva-a7b89125b/)

##### Python version

In [1]:
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

Versão da Linguagem Python Usada Neste Jupyter Notebook: 3.11.4

##### Packages

In [2]:
from datetime import datetime, timedelta

import pandas as pd
import numpy as np
import requests as req
import warnings

In [3]:
warnings.filterwarnings("ignore", category=FutureWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [4]:
pd.set_option('mode.chained_assignment', None)

##### Versions of packages used in this jupyter notebook

In [5]:
!pip install -q -U watermark
    
%reload_ext watermark
%watermark -a "HSO Team" --iversions

/bin/bash: /home/lucas/anaconda3/lib/libtinfo.so.6: no version information available (required by /bin/bash)
Author: HSO Team

pandas  : 1.5.3
requests: 2.31.0
numpy   : 1.24.3

<a id="index"></a>

# Index

## 1 [Data](#data)


### &emsp;1.1 [Auxiliary classes and function](#auxiliary_classes_and_function)
<br>

### &emsp;1.2 [Obtaining](#data_obtain)
#### &emsp;&emsp;&emsp;&emsp;1.2.1 [BINTRA](#data_bintra)
#### &emsp;&emsp;&emsp;&emsp;1.2.2 [CAT-62](#data_cat_62)
#### &emsp;&emsp;&emsp;&emsp;1.2.3 [ESPERAS](#data_hold)
#### &emsp;&emsp;&emsp;&emsp;1.2.4 [METAF](#data_metaf)
#### &emsp;&emsp;&emsp;&emsp;1.2.5 [METAR](#data_metar)
#### &emsp;&emsp;&emsp;&emsp;1.2.6 [SATELITE](#data_sat)
#### &emsp;&emsp;&emsp;&emsp;1.2.7 [TC-PREV](#data_tc_prev)
#### &emsp;&emsp;&emsp;&emsp;1.2.8 [TC-REAL](#data_tc_real)
<br>

### &emsp;1.3 [Join](#data_join)

<a id="data"></a>

## 1 Data

<a id="auxiliary_classes_and_function"></a>

## 1.1 Auxiliary function

In [6]:
def adjust_timestamp(ts):
    timestamp_s = ts / 1000
    dt = datetime.utcfromtimestamp(timestamp_s)
    return dt.replace(minute=0, second=0, microsecond=0)

##### Data schema

In [7]:
categorical_selected_cols = ['origem', 'destino', 'metar', 'hora_ref', 'path', 'snapshot_radar']
numerical_selected_cols = ['troca', 'esperas']

selected_cols = categorical_selected_cols + numerical_selected_cols

In [8]:
paramsDefault = {
    'idate': '2022-06-02', # Data inicial da consulta | Example : AAAA-MM-DD
    'fdate': '2023-05-11' # Data final da consulta | Example : AAAA-MM-DD
}

<a id="data_obtain"></a>

### 1.2 Obtaining

In [9]:
def getData(route, paramsWithoutToken = paramsDefault, token = 'a779d04f85c4bf6cfa586d30aaec57c44e9b7173'):
    """
    Fetches data from a specific API, handling exceptions and returning the data as a DataFrame.

    :param route: String representing the API endpoint.
    :param paramsWithoutToken: Dictionary containing the request parameters without the token. Defaults to paramsDefault.
    :param token: String containing the authentication token. Defaults to a fixed token.
    
    :return: A pandas DataFrame containing the data fetched from the API.
    
    :raises: May propagate exceptions related to the request if they occur.
    """
        
    url = f'http://montreal.icea.decea.mil.br:5002/api/v1/{route}'
    params = paramsWithoutToken
    params['token'] = token
    data = None
    
    while True:
        try:
            response = req.get(url, params)
            response.raise_for_status()
            data = response.json()
            break
            
        except:
            continue
    
    return pd.DataFrame(data)

<a id="data_bintra"></a>

### 1.2.1 BINTRA

In [10]:
df_bintra = getData('bimtra')

In [11]:
df_bintra = df_bintra[df_bintra['origem'] != df_bintra['destino']]

In [12]:
df_bintra['rota'] = df_bintra['origem'] + '_' + df_bintra['destino']

In [13]:
df_bintra['dt_dep_timestamp'] = df_bintra['dt_dep']
df_bintra['dt_arr_timestamp'] = df_bintra['dt_arr']
df_bintra['dt_dep'] = pd.to_datetime(df_bintra['dt_dep_timestamp'], unit='ms')
df_bintra['dt_arr'] = pd.to_datetime(df_bintra['dt_arr_timestamp'], unit='ms')

In [14]:
df_bintra['duration'] = (df_bintra['dt_arr_timestamp'] - df_bintra['dt_dep_timestamp'])/1000

In [15]:
df_bintra.sample(3)

,flightid,origem,destino,dt_dep,dt_arr,rota,dt_dep_timestamp,dt_arr_timestamp,duration
78232,891ed5ce1dbdf826fdd502c2ecde1af0,SBSP,SBRJ,2022-09-09 12:18:01,2022-09-09 13:07:39,SBSP_SBRJ,1662725881000,1662728859000,2978.0
21927,dbc2e5aaae0bbcc5f5eeb2091e0f602c,SBCF,SBSP,2022-06-30 12:17:20,2022-06-30 13:25:39,SBCF_SBSP,1656591440000,1656595539000,4099.0
246662,0bb4f3323850c348db711c77ced6970f,SBSP,SBSV,2023-03-28 01:01:17,2023-03-28 03:00:37,SBSP_SBSV,1679965277000,1679972437000,7160.0

#### [↥ return to index](#index)

<a id="data_cat_62"></a>

### 1.2.2 CAT-62

In [16]:
start = int(string_to_timestamp('2022-06-01 00:00:00.000'))
end = int(string_to_timestamp('2023-05-31 00:00:00.000'))

step = 60 * 60 * 24

dfCat_62_blocks = list()

for timestamp in range(start, end, step):
    dt_i = timestamp_to_string(timestamp)
    dt_f = timestamp_to_string(timestamp + step)
    
    print(dt_i)
    aux = getData('cat-62', {'idate': dt_i, 'fdate': dt_f})
    if(len(aux) != 0):
        dfCat_62_blocks.append(aux)
        
_df_cat_62 = pd.concat(dfCat_62_blocks, ignore_index=True)
        
df_cat_62 = pd.DataFrame(columns=['snapshot_radar'])
df_cat_62.index.name = 'flightid'

for flight in _df_cat_62['flightid'].unique():
    
    coords = "MULTIPOINT ("
    
    erase_cumma = False
    
    for index, row in _df_cat_62[_df_cat_62['flightid'] == flight].iterrows():
        coords += f"({row['lon']} {row['lat']})"
        coords += ', '
        erase_cumma = True

    if erase_cumma:
        coords = coords[:-2]
        
    coords += ")"
    
    
    df_cat_62.loc[flight, 'snapshot_radar'] = coords
    
df_cat_62 = df_cat_62.reset_index()

In [17]:
df_cat_62.to_csv('../data/cat_62.csv', index=False)

In [19]:
df_cat_62.sample(3)

,flightid,snapshot_radar
148379,3e9a7f63285c96960ab90a485626f381,"MULTIPOINT ((-0.759485034 -0.3505728917), (-0...."
112257,8bf42b2dfb6e810291c61372106520de,"MULTIPOINT ((-0.8145314599 -0.3914575868), (-0..."
125210,4b265562247559c8d1acb7f7e2a19b95,"MULTIPOINT ((-0.8913579366 -0.5232852385), (-0..."

#### [↥ return to index](#index)

<a id="data_hold"></a>

### 1.2.3 ESPERAS

In [20]:
df_esperas = getData('esperas')

In [21]:
df_esperas['hora_esperas'] = pd.to_datetime(df_esperas['hora'], unit='ms')

In [22]:
df_esperas['destino'] = df_esperas['aero']

In [23]:
df_esperas.drop(['hora', 'aero'], axis =1, inplace = True)

In [24]:
df_esperas.sample(3)

       esperas        hora_esperas destino
46664        1 2023-01-12 08:00:00    SBGR
41470        0 2022-06-09 22:00:00    SBGR
98794        0 2023-04-30 10:00:00    SBSV

#### [↥ return to index](#index)

<a id="data_metaf"></a>

### 1.2.4 METAF

In [25]:
df_metaf = getData('metaf')

In [26]:
df_metaf['hora_metaf'] = pd.to_datetime(df_metaf['hora'], unit='ms')

In [27]:
df_metaf['aero_metaf'] = df_metaf['aero']

In [28]:
df_metaf.drop(['hora', 'aero'], axis =1, inplace = True)

In [29]:
df_metaf.sample(3)

,metaf,hora_metaf,aero_metaf
17641,METAF SBGR 010500Z 07003KT 2000 BR BKN033 ...,2022-08-01 05:00:00,SBGR
13962,METAF SBGL 250600Z 30003KT 4000 BR BKN017...,2023-01-25 06:00:00,SBGL
38291,METAF SBSP 271700Z 17009KT 9999 -TSRA SCT02...,2022-09-27 17:00:00,SBSP

#### [↥ return to index](#index)

<a id="data_metar"></a>

### 1.2.5 METAR

In [30]:
df_metar = getData('metar')

In [31]:
df_metar['hora_metar'] = pd.to_datetime(df_metar['hora'], unit='ms')

In [32]:
df_metar['aero_metar'] = df_metar['aero']

In [33]:
df_metar.drop(['hora', 'aero'], axis =1, inplace = True)

In [34]:
df_metar.sample(3)

,metar,hora_metar,aero_metar
39232,METAR SBGL 070800Z 05002KT 9999 FEW008 BKN100 ...,2022-12-07 08:00:00,SBGL
72468,METAR SBRF 050300Z 12007KT 9999 SCT021 26/20 Q...,2022-10-05 03:00:00,SBRF
36164,METAR SBGL 051400Z 31013KT CAVOK 32/14 Q1010=,2022-08-05 14:00:00,SBGL

#### [↥ return to index](#index)

<a id="data_sat"></a>

### 1.2.6 SATELITE

In [35]:
df_sat_met = getData('satelite')

In [36]:
df_sat_met['hora_ref'] = pd.to_datetime(df_sat_met['data'])

In [37]:
df_sat_met.drop(['data'], axis = 1, inplace = True)

In [38]:
df_sat_met.sample(3)

,path,tamanho,hora_ref
3116,http://satelite.cptec.inpe.br/repositoriogoes/...,1648621,2022-10-10 02:00:00
4936,http://satelite.cptec.inpe.br/repositoriogoes/...,1660879,2022-12-25 15:00:00
5956,http://satelite.cptec.inpe.br/repositoriogoes/...,1679305,2023-02-06 21:00:00

#### [↥ return to index](#index)

<a id="data_tc_prev"></a>

### 1.2.7 TC-PREV

In [39]:
df_tcp = getData('tc-prev')

In [40]:
df_tcp['hora_tcp'] = pd.to_datetime(df_tcp['hora'], unit='ms')

In [41]:
df_tcp['aero_tcp'] = 'SB' + df_tcp['aero']

In [42]:
df_tcp.drop(['hora', 'aero'], axis =1, inplace = True)

In [43]:
df_tcp.sample(3)

       troca            hora_tcp aero_tcp
1971       0 2022-08-23 03:00:00     SBBR
17037      1 2022-06-23 21:00:00     SBCT
93059      0 2022-09-03 11:00:00     SBSV

#### [↥ return to index](#index)

<a id="data_tc_real"></a>

### 1.2.8 TC-REAL

In [44]:
df_tcr = getData('tc-real')

In [45]:
df_tcr['aero_tcr'] = 'SB' + df_tcr['aero']

In [46]:
df_tcr['hora_tcr'] = df_tcr['hora'].apply(adjust_timestamp)

In [47]:
aux = df_tcr.groupby(['hora_tcr', 'aero_tcr']).agg({'aero': ['count']}).reset_index()

In [48]:
aux.columns = aux.columns.droplevel(1)

In [49]:
aux['troca_real'] = aux['aero']

In [50]:
df_tcr = aux.drop(['aero'], axis =1)

In [51]:
df_tcr.sample(3)

                 hora_tcr aero_tcr  troca_real
439   2022-06-10 14:00:00     SBSV           3
8762  2022-10-30 22:00:00     SBCF           1
16885 2023-03-18 17:00:00     SBFL           1

#### [↥ return to index](#index)

<a id="data_join"></a>

## 1.3 Join

In [52]:
df_bintra['hora_ref'] = df_bintra['dt_dep_timestamp'].apply(adjust_timestamp)

In [53]:
df_bintra['hora_esperas'] = df_bintra['hora_ref'] - timedelta(hours=1)

In [54]:
df_bintra['aero_esperas'] = df_bintra['destino']

In [55]:
df_bintra['aero_metaf'] = df_bintra['destino']

In [56]:
df_bintra['hora_metaf'] = df_bintra['hora_ref'] + timedelta(hours=1)

In [57]:
df_bintra['aero_metar'] = df_bintra['destino']

In [58]:
df_bintra['hora_metar'] = df_bintra['hora_ref']

In [59]:
df_bintra['hora_tcp'] = df_bintra['hora_ref'] + timedelta(hours=1)

In [60]:
df_bintra['aero_tcp'] = df_bintra['destino']

In [61]:
df_bintra['hora_tcr'] = df_bintra['hora_ref']

In [62]:
df_bintra['aero_tcr'] = df_bintra['destino']

In [63]:
merged1_satelite = df_bintra.merge(df_sat_met, on='hora_ref', how='left')

In [64]:
merged2_esperas = merged1_satelite.merge(df_esperas, on=['hora_esperas', 'destino'], how='left')

In [65]:
merged3_metaf = merged2_esperas.merge(df_metaf, on=['hora_metaf', 'aero_metaf'], how='left')

In [66]:
merged4_metar = merged3_metaf.merge(df_metar, on=['hora_metar', 'aero_metar'], how='left')

In [67]:
merged5_tcp = merged4_metar.merge(df_tcp, on=['hora_tcp', 'aero_tcp'], how='left')

In [68]:
merged6_tcr = merged5_tcp.merge(df_tcr, on=['hora_tcr', 'aero_tcr'], how='left').set_index('flightid')

In [69]:
merged7_cat = merged6_tcr.merge(df_cat_62, on=['flightid'], how='left').set_index('flightid')

In [70]:
data_train_origin = merged7_cat[
    ['origem', 'destino', 'metar', 'snapshot_radar','hora_ref', 'path', 'troca', 'esperas', 'duration']
]

In [71]:
data_train_origin.loc[:, 'hora_ref'] = data_train_origin['hora_ref'].astype('str')

In [72]:
data_train_origin.dropna(inplace=True)

In [73]:
del df_bintra
del merged1_satelite
del merged2_esperas
del merged3_metaf
del merged4_metar
del merged5_tcp
del merged6_tcr
del merged7_cat

In [74]:
data_train_origin.to_csv('../data/data_train_origin.csv', index=True)

In [75]:
data_train_origin.sample(3)

,origem,destino,metar,snapshot_radar,hora_ref,path,troca,esperas,duration
flightid,,,,,,,,,
ec63d998029037920e9a981f7da42e7a,SBCF,SBFL,METAR SBFL 020100Z 19005KT 9999 FEW025 27/24 Q...,"MULTIPOINT ((-0.8243125148 -0.4179799599), (-0...",2023-02-02 01:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,0.0,0.0,5439.0
036ac0f54837a931bb3fe3b7e10b8320,SBGR,SBCT,METAR SBCT 171900Z 26008KT 9999 SCT030 FEW040T...,"MULTIPOINT ((-0.8260493159 -0.4206662704), (-0...",2023-02-17 19:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,0.0,0.0,2299.0
c0c3abb34bb46ece7afc7c42d2d34e03,SBGR,SBGL,METAR SBGL 081300Z 12010KT 9999 FEW020 OVC050 ...,"MULTIPOINT ((-0.7826426403 -0.4056470397), (-0...",2022-10-08 13:00:00,http://satelite.cptec.inpe.br/repositoriogoes/...,1.0,0.0,2068.0

#### [↥ return to index](#index)